.profileContainer {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.profileHeader{
    text-align: center;
    margin-bottom: 20px;
}
.username{
    font-size: 2em;
    color: #4b0082;
}
.profileDetails{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.detail{
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}
.label{
    font-weight: bold;
    color:#333;
}
.value{
    color:#666;
}